//- index soporte
extends ../layout.jade

block nav-desktop
	li
		a(class="thin it" href="/solicitud") Agregar solicitud
			i(class="material-icons right") playlist_add
	li
		a(class="thin it" href="/") Ver reportes
			i(class="material-icons right") assignment_turned_in
	li
		a(class="thin it" href="/") Ver solicitudes 
			span(class="badge red white-text" data-badge-caption="pendiente(s)")=solicitudes.length

	
block nav-phone
	li
		a(class="" href="/solicitud") Agregar solicitud
			i(class="material-icons left") playlist_add
	li
		a(class="thin it" href="/") Ver solicitudes
			i(class="material-icons left") event_note
			span(class="badge red white-text" data-badge-caption="pendientes")=notificaciones.numero_solicitudes
	li
		a(class="thin it" href="/") Ver reportes
			i(class="material-icons left") assignment_turned_in
	
block content
	.container
		.row
			.col.s12.m12.l10.offset-l1
				h4.center.bold Solicitudes pendientes
			.col.s12.m12.l8.offset-l2
				form(onsubmit="buscarSolicitud(this);")
					.input-field.z-depth-3
						input(type="search" name="value_solicitud" placeholder="Buscar solicitud por numero...")
						label.label-icon(for="search")
							i.material-icons.left search
						i.material-icons close
			.col.s12.m12.l12
				table.highlight.z-depth-3.centered.responsive-table
					thead
						tr
							th Prioridad
							th Fecha
							th Descripción problema
							th Tipo servicio
							th Tipo solicitud
							th Empleado solicitante
							th Acciones
							
					tbody(id="rows_solicitud")
						each solicitud in solicitudes
							tr
								-color = 'red lighten-1';
								if solicitud.prioridad == "media"
									-color = 'red lighten-3'
								if  solicitud.prioridad == "baja"
									-color = 'red lighten-5'	

								td(class=color)=solicitud.prioridad
								td(style="font-size:x-small;")=solicitud.fecha
								td(style="font-size: small" )=solicitud.descripcion_problema

								td=solicitud.tipo_servicio
								td=solicitud.tipo_solicitud
								td(style="font-size: small")=solicitud.empleado_solicitante
								td
									a(href="/solicitud/atender/"+solicitud.id_solicitud) Atender
										i.material-icons exit_to_app




