//- index soporte
extends ../layout.jade

block scripts_self
	script(src="/../javascripts/index_soporte.js")

block nav-desktop
	li
		a(class="thin it" href="/solicitud") Agregar solicitud
			i(class="material-icons right") playlist_add
	li
		a(class="thin it" href="/reportes") Ver reportes
			i(class="material-icons right") assignment_turned_in
	li
		a(class="thin it" href="/") Ver solicitudes 
			span(class="badge red white-text" data-badge-caption="pendiente(s)")=solicitudes.length

	
block nav-phone
	li
		a(class="" href="/solicitud") Agregar solicitud
			i(class="material-icons left") playlist_add
	li
		a(class="thin it" href="/") Ver solicitudes
			i(class="material-icons left") event_note
			span(class="badge red white-text" data-badge-caption="pendientes")=solicitudes.length
	li
		a(class="thin it" href="/reportes") Ver reportes
			i(class="material-icons left") assignment_turned_in
	
block content
	.row
		.col.s12.m12.l10.offset-l1
			h4.center.bold Solicitudes pendientes
		.row
			form(onsubmit="return buscarSolicitud(this);")
				.col.s12.m12.l2.offset-l2
					.input-field
						select#buscar_por(name="filtro")
							option(value="id_solicitud") ID solicitud
							option(value="tipo_servicio") Tipo servicio
							option(value="tipo_solicitud") Tipo solicitud
							option(value="empleado_solicitante") Empleado solicitante
						label Buscar por
				.col.s12.m12.l6
						.input-field
							input#autocomplete-input(required type="search" name="valor" placeholder="Ingrese el valor de la busqueda..." class="autocomplete")
							label.label-icon(for="search")
								i.material-icons.left search
							i.material-icons close
				button(type="submit" style="visibility:hidden;")
				//- input(type="submit" value="envia" style="")
		.col.s12.m12.l12
			table.highlight.z-depth-3.centered.responsive-table
				thead
					tr
						th Prioridad
						th Fecha
						th Descripción problema
						th Tipo servicio
						th Tipo solicitud
						th Empleado solicitante
						th Acciones
						
				tbody(id="rows_solicitud")
					each solicitud in solicitudes
						tr
							-color = 'red darken-1';
							if solicitud.prioridad == "media"
								-color = 'yellow lighten-1'
							if  solicitud.prioridad == "baja"
								-color = 'green lighten-1'	

							td(class=color)=solicitud.prioridad
							td()=solicitud.fecha
							td(style="font-size: small" )=solicitud.descripcion_problema

							td(style="font-size:x-small;")=solicitud.tipo_servicio
							td(style="font-size:x-small;")=solicitud.tipo_solicitud
							td(style="font-size: small")=solicitud.empleado_solicitante
							td
								a(class="left-align" href="/solicitud/atender/"+solicitud.id_solicitud ) Atender
									i.material-icons.left exit_to_app




