//- index Recepcionista
extends ../layout.jade
block scripts
	script(src="/../javascripts/jquery.validate.min.js")
	script(src="/../javascripts/materialize-stepper.min.js")
block styles
	link(rel="stylesheet" href="/../stylesheets/materialize-stepper.min.css")
block scripts_self
	script(src="/../javascripts/generar-solicitud.js")

block nav-desktop
	//- li
	//- 	a(class="thin it" href="#") Gestion de usuarios
	//- 		i(class="material-icons right") group_add
	
block nav-phone
	//- li
	//- 	a(class="" href="#") Gestion de usuarios
	//- 		i(class="material-icons left") group_add
	
block content	

	div(class="container")
		.row
			div(class="col l10 offset-l1 m12 s12 ")
				h4(class="center bold") Levantar solicitud
			if error.length>0
				input(type="hidden" id="error" value=error)
				script().
					error($('#error').val());
			if success.length>0
				input(type="hidden" id="success" value=success)
				script().
					success($('#success').val());
		.row
			form(method="post" action="/solicitud/" name="solicitud" id="form_solicitud" onsubmit="return registrarSolicitud(this);")
				ul(class="stepper horizontal z-depth-3")
					li(class="step active" id="uno")
						div(class="step-title waves-effect") Tipo solicitud
						div(class="step-content")
							div.row
								div(class="col s12 m12 l3")
									strong Numero de solicitud: #{solicitud}
								div(class="col s12 m12 l5 offset-l4")
									strong.right Fecha de solicitud: #{fecha}
								div(class="input-field col s12 m12 l5 offset-l1 " style="margin-top: 4em;")
									select(name="tipo_solicitud" onchange=" tipoSolicitud(this);")
										each solicitud in data.tipos_solicitud
											option(value=solicitud.id_tipo_solicitud )=solicitud.nombre
									label(for="tipo_solicitud") Tipo solicitud
								div(class="input-field col s12 m12 l5 " id="for_no_oficio" style="margin-top: 4em;")
							div(class="step-actions")
								button(class="waves-effect waves-dark btn next-step blue darken-3") Siguiente
									i(class="material-icons right") arrow_forward
					li(class="step")
						div(class="step-title waves-effect") Datos solicitante
						div(class="step-content" style="overflow: hidden;")
							.row
								.col.s12.m12.l10.offset-l1.thin.gray-text
									p.grey-text  *Busque y seleccione el empleado solicitante.
							div.row
								div(class="col s12 m12 l7 offset-l1")
									div(class="input-field z-depth-3")
										input(onsearch="getEmpleado(this);" id="search" name="nombre_empleado" type="search" placeholder="Ingrese su nombre de empleado...")
										label(class="label-icon" for="search")
											i(class="material-icons left") search
										i(class="material-icons") close
								div.col.s12.m12.l2.input-field
									input(name="empleado_solicitante" id="empleado_solicitante" class="validate" type="number" required readonly placeholder="ID empleado")
									label(for="empleado_solicitante") Empleado seleccionado

							div(class="row " style="overflow: auto; height: 100%; width: 100%;") 
								div(class="col s12 m12 l10 offset-l1 big-margin-bottom")
									ul(class="collapsible big-margin-bottom" data-collapsible="accordion" id="empleados_list")
							div(class="step-actions")
								button(class="waves-effect waves-dark btn next-step margin-bottom blue darken-3") Siguiente
									i(class="material-icons right") arrow_forward
									
					li.step
						.step-title.waves-effect Tipo de servicio
						.step-content
							.row
								div(class="input-field col s12 m12 l5 offset-l1 " style="margin-top: 4em;")
										select(name="tipo_servicio")
											each servicio in data.tipos_servicio
												option(value=servicio.id_tipo_servicio )=servicio.nombre
										label(for="tipo_solicitud") Tipo de servicio que solicita
								div(class="col s12 m12 l10 offset-l1 input-field")
									textarea(name="descripcion_problema" class="materialize-textarea" data-length="500" required)
									label(for="s") Descripción del problema

							.step-actions
								button(class="waves-effect waves-dark btn next-step margin-bottom blue darken-3") Siguiente
									i(class="material-icons right") arrow_forward


					li(class="step" )
						div(class="step-title waves-effect" ) Seguimiento
						div(class="step-content" style="overflow: hidden;")
							.row
								div(class="col s12 m12 l10 offset-l1")
									p(class="center")
										input(name="solucion" type="checkbox" class="filled-in" id="solucion" checked="checked")
										label(for="solucion") ¿Se soluciono el problema?
										input(type="hidden" name="prioridad" id="prioridad")
										label(id="descripcion_solucion")
							div(class="row " style="overflow: auto; height: 100%; width: 100%;") 
								div(class="col s12 m12 l10 offset-l1 input-field" id="opciones_solucion")
									
							div(class="step-actions")
								button(class="waves-effect waves-dark btn margin-bottom blue darken-3" type="submit") Enviar solicitud
									i(class="material-icons right") send

	div#prioridad-modal.modal
		form(onsubmit="return setPrioridad(this);")
			.modal-content
				h5.thin Seleccione una prioridad para el reporte
				.row
					.col.s12.m12.l12.left
						p
							input(name="set_prioridad" type="radio" id="alta" value="alta" checked="true")
							label(for="alta" class="green-text") 
								strong Alta
						p
							input(name="set_prioridad" type="radio" id="media" value="media")
							label(for="media" class="yellow-text accent-4")
								strong Media
						p
							input(name="set_prioridad" type="radio" id="baja" value="baja")
							label(for="baja" class="red-text") 
								strong Baja
			.modal-footer
				button(class="modal-action modal-close waves-effect waves-green btn-flat" ) Aceptar




