//- index admistrador
extends ../layout.jade
block nav-desktop
	li
		a(class="thin it" href="#") Gestion de usuarios
			i(class="material-icons right") group_add
	li
		a(class="thin it" href="#") Reportes
			i(class="material-icons right") trending_up
block nav-phone
	li
		a(class="" href="#") Gestion de usuarios
			i(class="material-icons left") group_add
	li
		a(class="" href="#") Reportes
			i(class="material-icons left") trending_up
	
block content
	script(src="/../javascripts/indexAdministrador.js")
	div(class="container")
		div(class="row")
			div(class="col l10 offset-l1 m12 s12 ")
				h4(class="center bold") Usuarios del sistema
			div(class="col l8 offset-l2 m12 s10")
				form(onsubmit="return buscarUsuario(this);")
					div(class="input-field z-depth-3")
						input(id="search" name="nombre" type="search" required="true" placeholder="Buscar usuario por nombre")
						label(class="label-icon" for="search")
							i(class="material-icons left") search
						i(class="material-icons") close
			div(class="col l2 m12 s2")
				div(class="input-field")
						a(href="/empleado/" class="btn-floating btn-tiny waves-effect waves-light red")
								i(class="material-icons") add
			div(class="col l12 m12 s12")
				table(class="highlight z-depth-3 centered responsive-table")
					thead
						tr
							th Nombre
							th Rol
							th Estado
							th ID empleado
					tbody(id="body_usuarios")
						each usuario in usuarios
							- activo = ('activo' == usuario.estado) ? 'selected' : null; 
							- inactivo = ('inactivo' == usuario.estado) ? 'selected' : null; 
							tr(class="row")
								td=usuario.nombre
								td=usuario.rol
								td

									div(class="input-field")
										select(name="estado" onchange="return cambiarEstado(#{usuario.id_usuario}, '#{usuario.estado}');")
											option(value="activo" selected=activo) Activo
											option(value="inactivo" selected=inactivo) Inactivo
								td
									a(href="/empleado/"+usuario.id_empleado) Ver empleado


				//- a(class="btn-floating btn-large waves-effect waves-light red")
				//-  	i(class="material-icons") add




		
