//- index soporte
extends ../layout.jade

block scripts
	script(src="/../javascripts/jquery.validate.min.js")
	script(src="/../javascripts/materialize-stepper.min.js")
	script(src="/../javascripts/jq-signature.min.js")
	script(src="/../javascripts/jquery.barrating.min.js")
	script(src="../../javascripts/picker.js" type="text/javascript")
	script(src="../../javascripts/picker.date.js" type="text/javascript")
	script(src="../../javascripts/picker.time.js" type="text/javascript")
block styles
	link(rel="stylesheet" href="/../stylesheets/themes/fontawesome-stars.css")
	link(rel="stylesheet" href="/../stylesheets/themes/css-stars.css")
	link(rel="stylesheet" href="/../stylesheets/themes/bars-movie.css")
	link(rel="stylesheet" href="/../stylesheets/materialize-stepper.min.css")
	link(rel="stylesheet" type="text/css" href="/../../stylesheets/default.css")
	link(rel="stylesheet" type="text/css" href="/../../stylesheets/default.date.css")
	link(rel="stylesheet" type="text/css" href="/../../stylesheets/default.time.css")
block styles_self
block scripts_self
	script(src="../../javascripts/base64.js")
	script(src="../../javascripts/jspdf.min.js")
	script(src="../../javascripts/reporte_pdf.js")
	script(src="/../javascripts/generarReporte.js")
	script(src="/../javascripts/reportes.js")
block nav-desktop
	li 
		a.thin.it(href="/nuevo_empleado") Agregar empleado
			i(class="material-icons right") person_add
	li
		a(class="thin it" href="/") Gestion de usuarios
			i(class="material-icons right") group_add
	li
		a(class="thin it" href="/estadisticas") Estadisticas
			i(class="material-icons right") trending_up
	li
		a(class="thin it" href="/reportes") Reportes
			i(class="material-icons right") assignment
block nav-phone
	li
		a(class="" href="#") Gestion de usuarios
			i(class="material-icons left") group_add
	li 
		a.thin.it(href="/nuevo_empleado") Agregar empleado
			i(class="material-icons right") person_add
	li
		a(class="" href="/estadisticas") Estadisticas
			i(class="material-icons left") trending_up
	li
		a(class="" href="/reportes") Reportes
			i(class="material-icons right") assignment
block content
	.modal#detalle_solicitud(style="width: 80%; height: 100%;")
		.modal-content#content-solicitud
			
		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#") Aceptar

	.modal#detalle_equipo(style="width: 80%; height: 100%")
		.modal-content#content-equipo

		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#") Aceptar

	.row
		.col.s12.m12.l10.offset-l2
			h4.center.bold Reportes
	.row
		.col.s12.m12.l2
			ul.collapsible(data-collapsible="accordion" style="margin-top: 0px;")
				li
					.collapsible-header.color-back.white-text.thin Filtros
						i(class="material-icons left") filter_list
				li
					.collapsible-header Reparado
					.collapsible-body
						p
							input(type="checkbox" id="filtro_reparado")
							label(for="filtro_reparado") Reparado
				li
					.collapsible-header Por fecha
					.collapsible-body(style="padding:10px;")
						p.grey-text Seleccione un mes para mostrar reportes
						.input-field
							i.material-icons.prefix event
							input.datepicker(type="date" id="filtro_fecha" required="true")
		.col.s12.m12.l10
			table.highlight.z-depth-3.centered.responsive-table
				thead
					tr
						th Folio
						th ID solicitud
						th ID equipo
						th Diagnostico de equipo
						th Reparado
						th Tipo de reparación
						th Acciones
				tbody(id="rows_reportes")
					each reporte in reportes
						tr
							td=reporte.folio_formato
							td
								//-link para ver los datos de la solicitud
								a( href="#" onclick="modalDetalleSolicitud(#{reporte.id_solicitud});")=reporte.id_solicitud 
							td
								a(href="#" onclick="modalDetalleEquipo(#{reporte.id_equipo});")=reporte.id_equipo
							//-link para ver la informacion del equipo
							td=reporte.diagnostico_equipo
							td=reporte.reparado
							if reporte.nombre == 'En sitio'
								td=reporte.nombre
							else
								if reporte.reparado == 'reparado'
									td=reporte.nombre	
								else if reporte.nombre == "Salida de equipo"
									td=reporte.nombre
									td
										a.btn.blue.darken-1(href="equipo/entrega/"+reporte.folio) Entrega equipo  
											i(class="material-icons right") reply
							
							if reporte.reparado == 'reparado'
								td 
									a.margin-lados.tooltipped(data-position="top" data-delay="50" data-tooltip="Ver reporte" href="/reporte/"+reporte.folio) 
										i.material-icons visibility
									a.margin-lados.tooltipped(data-position="top" data-delay="50" data-tooltip="Imprimir reporte"  target="_blank" href=`/reporte/pdf/${reporte.folio}`) 
										i.material-icons picture_as_pdf
							else if reporte.reparado == 'no reparado'
								if reporte.nombre == 'Dictamen de baja'
									td=reporte.nombre
									td
										a.margin-lados.tooltipped(data-position="top" data-delay="50" data-tooltip="Ver dictamen de baja" href="/reporte/"+reporte.folio) 
											i.material-icons visibility
										a.margin-lados.tooltipped(data-position="top" data-delay="50" data-tooltip="Imprimir dictamen de baja"  target="_blank" href=`/dictamen_baja/pdf/${reporte.folio}`) 
											i.material-icons picture_as_pdf
						

		
      


	






